{% extends 'base.html' %}

{% block content %}
<h1>Your shopping list</h1>

<form method="post" action="{% url 'shoppingitems_deleteall' %}">
  {% csrf_token %}
  <button class="button">DELETE ALL</button>
</form>

<ul>
  {% for shoppingitem in shoppingitem_list %}
    <li>
      {{ shoppingitem.food_item }}
    </li>
  {% endfor %}
</ul>

{% endblock content %}

