{% extends 'base.html' %}

{% block content %}
<a href="{% url 'mealplan_edit' mealplan.id %}">Edit</a>
<a href="{% url 'mealplan_delete' mealplan.id %}">Delete</a>

  <h2>Recipes for {{ mealplan.name }} on {{ mealplan.date }}</h2>


  <div class="recipe-grid">
    <div class="recipe-card">
      {% for recipe in mealplan.recipes.all %}
        <p>
          <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
        </p>
      {% endfor %}
    </div>
  </div>

{% endblock content %}


