{% extends 'base.html' %}

{% block content %}

  <h2>MEAL PLANS</h2>

  <a href="{% url 'mealplan_new' %}">Create a Meal Plan</a>

  <div class="recipe-grid">
  {% for mealplan in mealplan_list %}
    <div class="recipe-card">
      <h3>
        <a href="{% url 'mealplan_detail' mealplan.id %}">{{ mealplan.name }}</a>
      </h3>
      {% for recipe in mealplan.recipes.all %}
        <p>
          <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
        </p>
      {% endfor %}
    </div>


  {% endfor %}
  </div>

{% endblock content %}


